<h1>Your note dashboard</h1>
<br>
<br>
<strong>Click here to make a new notes.</strong>
<br>
<%= link_to 'New note', new_note_path %>
<Br>
<br>
<h2>My Notes</h2>
<table>
    <tr>
        <th>Title of Note</th>
    </tr>
    <% @notes.each do |note| %>
    <tr>
        <td><%= note.title %></td>
        <td><%= link_to 'Show', note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        
        <td><%= link_to 'Delete', 
                                    note_path(note),
                                    method: :delete,
                                    data: {confirm: 'Sure you want to toss it?'} %></td>
        
    </tr>
    <% end %>
</table>
<br>
<%= link_to 'Home', notes_index_path %>
<br>
<%= link_to 'Class Notes', notes_class1Notes_path %>




