<h1>This page will just DISPLAY a bunch of the class's notes that you can VIEW only</h1>
<br>
<br>
<strong>Class Notes</strong>
<br>
<br>
<br>
<table>
    <tr>
        <th>Title of Note</th>
        <th>Note</th>
    </tr>
    <% @note.each do |note| %>
    <tr>
        <td><%= note.title %></td>
        <td><%= note.text %></td>
        <td><%= link_to 'Show', note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        
        <td><%= link_to 'Delete', 
                                    note_path(note),
                                    method: :delete,
                                    data: {confirm: 'Do you want to delete?'} %></td>
        
    </tr>
    <% end %>
</table>
<%= link_to 'Class 1', notes_class1_path %>