<h1 id="idk">Your notes dashboard</h1>
<div id="newNote">
    <button id="addNote"><%= link_to '+', new_note_path %></button>
<br>
<strong id="something">Create Note</strong>
</div>

<br>
<Br>
<br>
<h2>My Notes</h2>
<table>
    <tr>
        <th>Class</th>
        <th>Note Title</th>
    </tr>
    <% @notes.each do |note| %>
    <tr>
        
        <td><%= note.title %></td>
        <td><%= link_to 'Show', note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        
        <td><%= link_to 'Delete', 
                                    note_path(note),
                                    method: :delete,
                                    data: {confirm: 'Sure you want to toss it?'} %></td>
        
    </tr>
    <% end %>
</table>
<br>
<%= link_to 'Home', notes_index_path %>
<br>
<%= link_to 'Class Notes', notes_class1Notes_path %>




