<h1 id="idk">Your notes dashboard</h1>

<div id="newNote">
    <button id="addNote"><%= link_to '+', new_note_path %></button>
<br>
<strong id="something">Create Note</strong>
</div>
<br>
<br>
<br>
<h1 id="cent">My Notes</h1>
<div id="cente">
    <table>
    <tr>
        <th id="text1">Title</th>
    </tr>
    <% @notes.each do |note| %>
    <tr>
        <td id="text2"><%= note.title %></td>
        <td><%= link_to 'Show', note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        
        <td><%= link_to 'Delete', 
                                    note_path(note),
                                    method: :delete,
                                    data: {confirm: 'Sure you want to toss it?'} %></td>
        
    </tr>
    <% end %>
</table>
<br>
<button id= 'button'><%= link_to 'Home', notes_index_path %></button>
<br>
<br>
<button id= 'button'><%= link_to 'Class Notes', notes_class1Notes_path %></button>
</div>





