<center><h1>Software Engineering</h1></center>
<br>
<br>
<center><h2>Class Notes</h2></center>
<br>
<section>
<table>
    <tr>
        <th>Title of Note</th>
    </tr>
    <% @notes.each do |note| %>
    <tr>
        <td><%= note.title %></td>
        <td><%= link_to 'Show', note_path(note) %></td>
        <td><%= link_to 'Edit', edit_note_path(note) %></td>
        
        <td><%= link_to 'Delete', 
                                    note_path(note),
                                    method: :delete,
                                    data: {confirm: 'Do you want to delete?'} %></td>
        
    </tr>
    <% end %>
</table>
</section>
<br>
<button id = 'button'><%= link_to 'Home', notes_index_path %></button>