<h1 id="welcome">Welcome to cNotes.</h1>
<br>
<br>
<h2 id="register">Only registered users may make notes. Please sign up or login for full access!</h2>
<br>

<% if current_user %>
    Logged in as <%= current_user.name %>
        
    <%= link_to "Log Out", logout_path %>
    <br>
    <br>
    <h2 class="toCenter">Visit your dashboard for more</h2>
    <p>
    <button id = 'button'><%= link_to 'My Dashboard', notes_class1_path %></button>
    <br>
</p>
    
    <% else %>
    <button id = 'button'><%= link_to "Sign Up!", signup_path %></button> or
    <button id = 'button'><%= link_to "Log In", login_path %></button>
    <% end %>
    
    
      <h2 class="toCenter">Here are the classes available</h2>

<p>

    <button id = 'button'><%= link_to 'Software Engineering', notes_class1Notes_path %></button>

    <br>

</p>




