<!--Why is this page so wide now?---->
<section class = "new">
<h1 id="welcome">Welcome to cNotes.</h1>
<br>
<br>
<br>

    <% if current_user %>
    <div name="loggedIn">Hi, <%= current_user.name %>!
    <br> 
    <br>
    <button id = 'button'><%= link_to "Log Out", logout_path %></button></div><!--why is the layout of the text like that? The out should be on the same line as log-->
    <br>
    <br>
    <h2 class="toCenter">Visit your dashboard for more</h2>
    <p>
    <button id = 'button' name="myDashboard"><%= link_to 'My Dashboard', notes_class1_path %></button>
    <br>
    <% else %>
    <h2 id="register">Only registered users may make notes. Please sign up or login for full access!</h2>
        <button id = 'button'><%= link_to "Sign Up!", signup_path %></button> or
        <button id = 'button'><%= link_to "Log In", login_path %></button>
        
    <% end %>
    <br>
    <br>
    
</p>
      <h2 class="toCenter">Here are the classes available</h2>

<p>

    <button id = 'button' name="SE"><%= link_to 'Software Engineering', notes_class1Notes_path %></button>

    <br>
    
    
    </section>
</p>




