<div id="c">
<h1 class="x">New Note</h1>
<br>
<p class="x">Please add your new note below and just click "Submit", its that simple</p><br><br>


<h1 class="x">Your Note</h1>

    <%= form_for :notes, url: notes_path do |f| %>
 <p class="x">
    <%= f.label :title %>
    <%= f.text_field :title %>
 </p>
    <br><br>
<p class="x"> 
    <%= f.label :text %>
    <%= f.text_area :text%>
</p>
    <br>
    <%= f.submit %>
  <% end %>
<br>
 
  <a href="class1" class="x">Back</a>
  </div>